$light-green-color: #7ed56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;
$dark-gray-color: #777;
$medium-gray-color: #eee;
$ligt-gray-color: #f7f7f7;

$white-color: #fff;
$black-color: #000;

$primary-light-color: #7ed56f;
$primary-dark-color: #28b485;

$secondary-light-color: #ffb900;
$secondary-dark-color: #ff7730;

$tertiary-light-color: #2998ff;
$tertiary-dark-color: #5643fa;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 120rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;