$light-green-color: #72d56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;
$dark-gray-color: #777;
$ligt-gray-color: #f7f7f7;
$white-color: #fff;
$black-color: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 110rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;