.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 5rem;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($black-color, .2);

        &:after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($black-color, .2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white{
        background-color: $white-color;
        color: $dark-gray-color;

        &::after {
            background-color: $white-color;
        }
    }

    &--green {
        background-color: $primary-light-color;
        color: $white-color; 

        &::after {
            background-color: $primary-light-color;
        }
    }

    &--animated {
        animation: moveInTop .5s ease-in-out .75s backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $dark-green-color;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $dark-green-color;
        padding: 3px;
        transition: all .2s;
        padding: 0.25rem 0.5rem;
    }

    &:hover {
        background-color: $dark-green-color;
        color: white;
        box-shadow: 0 1rem 2rem rgba($black-color, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($black-color, .15);
        transform: translateY(0px);
    }
}